.header_tia-tomates{
  background-color: #E56353;

}

.Nosotros_tia_tomates__inner{
background-color: #E56353;
height: 140px;
text-align: center;
padding: 36px;
color: #FAFAFA;
font-size: 45px;
margin-top: 0;
}

.Comprar_tia_tomates{
  background-color: #E56353;
  height: 140px;
  text-align: center;
  padding: 36px;
  color: #FAFAFA;
  font-size: 45px;
  margin-top: 0;
}

.Footer_tia_tomates{
background-color: #686963;
}
